#container {
    width: 100%;
    min-height: 657px
}

/*the head of the container */

#container_head {
    width: 100%;
    height: 70px;
    background-color: rgba(13, 103, 238, 1);
    overflow: hidden;
}
#login_head {
    width: 100%;
    height: 100%;
}
#container_body {
    width: 50%;
    height: 500px;
    margin-left: 25%;
    background-color: rgba(171, 215, 148, 0.84);
}
#container_foot {
    height: 87px;
}

#login-form {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

#register-form :first-child  {
    margin-top:10px;
}

#register-form p {
    margin-bottom: 10px;
    width: 80%;
}

#register-form p span {
    display: inline-block;
    width: 30%;
    font-size: 1.5em;
    margin-left: 10px;
    text-align: center;
}

#register-form p :first-child + input + span {
    font-size: 0.8em;
}


#register-form p input {
    text-align: left;
    display: inline-block;
    font-size: 1em;
    margin-left: 10px;
    /*height: 80%;*/
    width: 30%;
}



#register-form :first-child  + p + p +　p  {
  text-align: right;
}

#register-form p button {
    display: inline-block;
    /*margin-right: 170px;*/
    margin-left: 50%;
    margin-top: 20px;
    font-size: 1.5em;
}
